<!DOCTYPE html>
<html lang="en" th:lang="${currentLanguage}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TrackTogether</title>
    <th:block th:fragment="appStyles">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet"
              th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">

        <link rel="stylesheet"
              th:href="@{/webjars/bootstrap-icons/1.13.1/font/bootstrap-icons.css}">

        <link rel="stylesheet"
              th:href="@{/css/main.css}">
        <link rel="stylesheet"
              th:href="@{/css/tutorial.css}">

        <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    </th:block>
</head>
</html>